source/sx5-java-SOAP/src/main/resources/hello.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://sx5.inspq.qc.ca/service/soap"
           targetNamespace="http://sx5.inspq.qc.ca/service/soap" elementFormDefault="qualified">

    <xs:element name="helloRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nom" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="helloResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hello" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>